[2019-03-04 17:31] greysteil commented on #1378
Sorry about the flapping! I think I've fixed it. Trying to replicate the resolvability issue now.

[2019-03-04 17:37] greysteil commented on #1378
Hmm, running `pyenv exec pipenv lock` locally on this repo I do get that resolvability error. Presumably you're not getting it locally? (Using the latest Pipenv, and Python 2.7.15.)

[2019-03-19 10:13] mkauzlar opened #1397 "IGC upload shows straight line to Africa"
Uploading the attached IGC shows a straight line on the map:

https://skylines.aero/flights/101343

[2019-03-09-xcm-2hx-01.igc.zip](https://github.com/skylines-project/skylines/files/2982719/2019-03-09-xcm-2hx-01.igc.zip)

[2019-03-19 15:20] Turbo87 commented on #1397
your file contains `B1243250050014N01323174EA00879009390080999951731001-0014` at some point. you should contact your flight recorder manufacturer about this and ask them why they record GPS fixes that don't make any sense 😉

right above that line, it says `LXCMGPS-NODATA`, so I'm assuming the flight recorder lost GPS information. in that case, it is supposed to set the validity flag from `A` to `V

[2019-03-19 15:20] #1397 closed

[2019-03-20 03:44] dependabot[bot] opened #1398 "Dependabot can't resolve your Python dependency files"
Dependabot can't resolve your Python dependency files.

As a result, Dependabot couldn't update your dependencies.

The error Dependabot encountered was:

[code]

If you think the above is an error on Dependabot's side please don't hesitate to get in touch - we'll do whatever we can to fix it.

You can mention @dependabot in the comments below to contact the Dependabot team.

[2019-03-20 03:44] #1381 closed

[2019-03-20 06:45] mkauzlar commented on #1397
Right, the thing is that I used https://www.soaringlab.eu/viewer.php to view the file and there it's displaying correctly

[2019-03-31 08:35] roeles opened #1401 "Add ASW24WL"
My friend just got an ASW24WL. Skylines only knows ASW24 and ASW24E it seems.
What info do we need to add it to the DB?

[2019-04-01 09:31] Turbo87 commented on #1401
Ideally we'd refactor the code so that users can add their own models and aircrafts, but I've never found the time to do it :(

[2019-04-06 17:00] roeles commented on #1401
@Turbo87 Alright. Please tell me what you need, so I can update this issue.

[2019-04-06 17:01] roeles opened #1408 "Refresh airspace"
I recently updated the Dutch airspace over at xcsoar-data repositories.
Can the tiles for Skylines be re-generated, or should they already be up-to-date?

[2019-04-06 17:21] Turbo87 commented on #1408
yes, they will need to be updated. skylines does unfortunately not use the `xcsoar-data` repo (yet).

[2019-04-06 18:52] roeles commented on #1408
Okay. Airspace is downloadable at:
http://download.xcsoar.org/airspaces/EH1904.txt

[2019-04-06 18:55] Turbo87 commented on #1408
[code]
are we allowed to put that file on the XCSoar server?

[2019-04-06 18:56] #1398 closed

[2019-04-06 18:59] roeles commented on #1408
Yes, I obtained written permission a couple of years ago. I also inform the
author every year of my efforts (and results) to update XCSoar.

On Sat, Apr 6, 2019 at 8:55 PM Tobias Bieniek <notifications@github.com>
wrote:

[2019-04-12 22:15] Turbo87 commented on #395
that was fixed by https://github.com/skylines-project/py-xcsoar/pull/23 and https://github.com/XCSoar/XCSoar/commit/0f7de0cd927daeabd3972d918e1a9e44887b5613

[2019-04-12 22:15] #395 closed

[2019-04-12 22:16] #785 closed

[2019-04-30 13:13] TobiasLohner opened #1499 "Elevations field empty in backend API response"
Both fields elevation_h and elevation_t are empty for any flight request from the backend, i.e. https://skylines.aero/api/flights/42/json

[2019-04-30 13:21] Turbo87 commented on #1499
yes, the elevation data still needs to be reimported on the new server. haven't had time for that yet unfortunately.

[2019-05-06 09:22] 4Oa opened #1502 "Add actual airspace of Ukraine"
It available by link http://soaringweb.org/Airspace/UA

[2019-05-19 13:13] Turbo87 opened #1514 "Password recovery email is not being sent"
for some reason the emails are not being received... 🤔

[2019-05-20 01:09] elgandoz commented on #95
This would be a great addition for all the pilots flying far from UTC, and for the ones who fly in different timezones.
Technically, we could use [Moment.js Timezone library]( https://momentjs.com/timezone/), which would apply the formatted timezone on frontend only.
Timezone should be taken from Take-off/Landing airport and could be displayed on details view and table list.
Sorting would remain b

[2019-05-27 07:28] roeles commented on #1408
Updated:
http://download.xcsoar.org/airspaces/EH1904A.txt

[2019-06-04 19:00] trayz777 opened #1529 "No Wingmen"
There are no Wingmen shown in the Wingman-Tab.
Issue persists on multiple devices and accounts.

[2019-06-04 19:06] Turbo87 commented on #1529
hmm, interesting. this seems to have broken between 2019-05-24 and 26:

- https://skylines.aero/flights/104597#tab-wingmen works fine
- https://skylines.aero/flights/104739#tab-wingmen is empty

I don't know yet what specifically could have caused this 🤔

[2019-06-04 19:30] trayz777 commented on #1529
You are right, seems to be broken since 2019-05-25

[2019-06-05 13:11] sentry-io[bot] opened #1532 "/widgets/v1.0/flights.js is not available"
Sentry Issue: [FRONTEND-2F0](https://sentry.io/organizations/skylines/issues/1058082225/?referrer=github_integration)

[code]

[2019-06-05 13:14] Turbo87 commented on #1532
actually, `/widgets/v1.0/flights.js/club=%2276%22` is wrong, it should have been `/widgets/v1.0/flights.js?club=76`

[2019-06-05 13:14] #1532 closed

[2019-06-15 10:44] Turbo87 commented on #1529
I restarted the corresponding service that calculates that data. It's currently working through the queue and the data should be available again soon.

[2019-06-15 10:44] #1529 closed

[2019-06-18 17:04] lordfolken opened #1565 "Add OpenTopo map as default"
This one has nice terrain and is CC-BY-SA. If we cache the tiles it should be fine.
https://opentopomap.org/

[2019-06-22 07:09] Turbo87 commented on #1514
@lordfolken installed and set up `postfix` on the new server and this seems to work again now :)

[2019-06-22 07:09] #1514 closed

[2019-07-22 11:48] XanderDW opened #1598 "Changing scoring start and end time does not work"
Lately, I noticed that when changing the scoring start and and time on an IGC upload, this change is disregarded when the flight is published.

[2019-07-22 12:38] Turbo87 commented on #1598
well, that's not good 😅

I'll look into it. Thanks for reporting!

[2019-08-23 17:46] kerel-fs opened #1641 "Search functionality is broken"
The search function doesn't produce results for any query currently.

For example [searching for "Tobias"](https://skylines.aero/search?text=Tobias) fails with:

As already described by @Turbo87 via Slack it looks like a problem in the frontend since the API returns the [expected results](https://skylines.aero/api/search?text=Tobias).

[2019-08-23 19:56] kerel-fs commented on #1641
This regression was introduced by dbf68024351c7539ef2238a76a56de10f9549aea since accessing `queryParams` on the `Transition` have been [deprecated in Ember v3.x](https://deprecations.emberjs.com/v3.x/#toc_transition-state).

Relevant code:
https://github.com/skylines-project/skylines/blob/7cd90a3f7440e45f069f04202d2cf5b600093f74/ember/app/routes/search.js#L14-L21

[2019-08-23 21:12] #1641 closed

[2019-09-02 18:04] vlootje opened #1657 "own live track is seen as a "friend""
My live track (which I create with Skylines Tracker and a correct live tracking key) is seen as a track of a "friend". Yet it is under my own name, I can open it, but I cannot store it or download it. So next day, with new live tracks, it is lost.
What to do?

[2019-09-03 09:45] Turbo87 commented on #1657
the live tracking data is not meant to be downloaded as it's "live" and due to reception issue can have significant gaps in the track. if you want a recording of your flight you should use an IGC flight recorder or an app which does the same thing.

 I don't know what "Skylines Tracker" is. The only "official" Skylines live tracking client is XCSoar.

[2019-09-03 09:46] #1657 closed

[2019-09-03 09:53] vlootje commented on #1657
Tobias, thanks for your swift response! I get the picture.
The tracker I used is
https://play.google.com/store/apps/details?id=ch.luethi.skylinestracker

[2019-09-09 21:14] Johnb1957 opened #1664 "Handicaps for SGS 1-26 and SGS 1-34 for gliders are not being applied"

[2019-09-10 07:15] Turbo87 commented on #1664
what handicap factors do those planes have?

[2019-09-10 14:44] Johnb1957 commented on #1664
Tobias,

Thanks for the quick response. The SGS 1-26 handicap is 1.60, the SGS 1-34
1.18. There are still quite a few 1-26 pilots competing in their own class
here in the US. So even though it's extremely low performance there are a
number of good flights every year.

Thanks again and all the best,

John

Here's the list of handicaps for Schweizer gliders from the SSA (handicap
on the far right) -

[2019-09-14 08:09] Turbo87 commented on #1664
I finally had time to update the handicaps for the existing types. Let me know if you see any other issues :)

[2019-09-14 08:09] #1664 closed

[2019-09-15 04:42] Johnb1957 commented on #1664
Thank you Tobias. Even better I see you got other Schweizer models in -
I'll have to start flying an SGS 2-33!

All the best,

John

On Sat, Sep 14, 2019 at 4:09 AM Tobias Bieniek <notifications@github.com>
wrote:

[2020-01-17 15:56] ekurutepe opened #1813 "Skylines API gives me 404"
I'm trying to access the API under `https://api.skylines.aero/` as specified in https://gist.github.com/Turbo87/72d73a548dbf953e1f5e

I'm using Basic Auth and trying to `GET /user` but receive: `404 Site api.skylines.aero is not served on this interface`

Is the API not active or am I missing something?

[2020-01-19 08:50] Turbo87 commented on #1813
👋

unfortunately, the API mentioned in that Gist has not been implememented (yet?). we do have and use an API, but it is currently somewhat custom and should not be considered public/stable. that being said, the current API does work and hasn't changed much for quite some time, so it might be okay to just use it for now.

[2020-01-19 14:52] ekurutepe commented on #1813
Can you please point me towards that API?

I'm working on an iOS app to grab flights from the SD card and upload them to Skylines.

[2020-01-28 16:08] ekurutepe commented on #1813
@Turbo87 pinging this up. Can you give me access to the current API?

[2020-01-28 16:40] Turbo87 commented on #1813
sorry, for the delay. unfortunately, there is not much documentation for the current API. the API implementation can be found in https://github.com/skylines-project/skylines/tree/master/skylines/api/views, with some corresponding API tests in https://github.com/skylines-project/skylines/tree/master/tests/api/views.

[2020-01-28 21:56] ekurutepe commented on #1813
thank you, my python is rusty but it's a great start.

I kinda thought I'd need some kind api key or something. But it's better this way.

[2020-01-28 21:56] #1813 closed

[2020-03-26 20:14] domaszostautas opened #1856 "Cant upload my flight"
Most of the time I get this message, doesn't matter what device I am using..
"Reguest was rejected due to server error". Any Ideas ?
<img width="1233" alt="Screenshot 2020-03-26 at 10 24 36" src="https://user-images.githubusercontent.com/62716270/77692292-0873fb00-6faf-11ea-97f4-8e66b095b088.png">

[2020-03-26 20:21] Turbo87 commented on #1856
thanks for reporting, I'll have a look 🙏

[2020-05-14 23:09] GliderGeek opened #1877 "site unreachable"
It seems that the live version does not work:

<img width="1146" alt="image" src="https://user-images.githubusercontent.com/16109193/81994688-acd9fb80-9648-11ea-895b-97ed2ddd8577.png">

Also the mail bounces

[2020-05-15 06:38] Turbo87 commented on #1877
yep, we had some server issues, but it should be back now. please reopen if you still see issues.

[2020-05-15 06:38] #1877 closed

[2020-05-17 06:05] Zaphod2112 opened #1878 ".igc file rejected due to missing date."
My .igc file from my Oudie 2/SeeYou was repeatedly rejected due to a "missing date".  The file works fine with SeeYou mobile and SeeYou Cloud and was also posted to the OLC website with out an issue.

Thanks

[2020-05-17 06:13] Turbo87 commented on #1878
can you share the file so that we can try to reproduce it?

[2020-05-17 14:29] Zaphod2112 commented on #1878
I've attached the file.  Thank you for taking a look at it.

Doug Hingst

On Sat, May 16, 2020 at 11:13 PM Tobias Bieniek <notifications@github.com>
wrote:

[2020-05-18 07:46] Turbo87 commented on #1878
hmm, I don't see the file anywhere? how did you attach it?

[2020-05-18 12:16] Zaphod2112 commented on #1878
I show that it was attached to the email.  I will resend it from my computer.  Here’s a screenshot from my phone showing the attachment.

Sent from my iPhone

[2020-05-18 20:18] Zaphod2112 commented on #1878
File should be attached.

On Mon, May 18, 2020 at 5:16 AM Doug Hingst <doughingst@gmail.com> wrote:

[2020-05-22 14:19] #1878 closed

[2020-05-28 08:45] bomilkar opened #1899 "Unknown glider type"
I'm flying a "Discus 2cFES 18m" and would like to upload my flights with the correct type identification. Just to be open and hones.
The closes type I can find is "Discus 2cT 18m". So I'm using this type for now.
Can somebody add  "Discus 2cFES 18m" to the list, please?

[2020-06-13 05:44] Otis27 opened #1907 "Skylines not opening"
When trying to open Skylines aero it states it is transferring data etc. It does not open and leaves a blank page. This has been happening for two or three weeks and a number of users in my gliding club are experiencing the same problem. Have tried Firefox and chrome with no joy.

[2020-06-14 10:36] Otis27 commented on #1907
Repaired, thank you.

[2020-06-15 09:52] Otis27 commented on #1907
Back to original problem again

[2020-06-15 10:13] Turbo87 commented on #1907
@lordfolken any idea? it seems that the connection is sometimes quite slow. when I download IGC files it's only about 35 KB/s 🤔

[2020-06-20 22:42] renovate[bot] opened #1919 "Action Required: Fix Renovate Configuration"
There is an error with this repository's Renovate configuration that needs to be fixed. As a precaution, Renovate will stop PRs until it is resolved.

Error type: undefined. Note: this is a *nested* preset so please contact the preset author if you are unable to fix it yourself.

[2020-06-21 19:05] Exadios commented on #1907
The console report (Firefox) of a failed page load:
![Screenshot_2020-06-22_03-04-51](https://user-images.githubusercontent.com/1477489/85232876-38f3f580-b435-11ea-8984-36bd79ea8be9.png)

It doesn't make much sense to me.

[2020-06-21 21:18] lordfolken commented on #1907
I tried the page via redirect from outside and had no issues.

[2020-06-22 08:20] Otis27 commented on #1907
Peter,
                       I decided to try it in private browsing on
Mozilla and it worked. I then went to ordinary Mozilla and it worked
there. The only difference is normal Mozilla has the Facebook container
that stops tracking sites and private browsing does not.. Not sure if
this is any help. Scarfey

------ Original Message ------
From: "Peter F Bradshaw" <notifications@github.com>
To: "s

[2020-06-22 08:45] Otis27 commented on #1907
Restarted my computer tried private browsing and it would not open. 

------ Original Message ------
From: "John Scarfe" <scarfey@bigpond.com>
To: "skylines-project/skylines"
<reply@reply.github.com>;
"skylines-project/skylines" <skylines@noreply.github.com>
Cc: "Otis27" <scarfey@telstra.com>; "State change"
<state_change@noreply.github.com>
Sent: Monday, 22 Jun, 2020 At 4:20 PM
Subject: Re: [skyl

[2020-06-22 18:55] lordfolken commented on #1907
Do you have some kind of strange malware aka "firewall" software aka norton internet security or similar?

[2020-06-22 20:46] Turbo87 commented on #1907
@lordfolken as I said before, this looks like a regular connection timeout, which is most likely caused by a slow connection. I just tried again and the max. speed I can get for downloads is 46 KB/s apparently.

here is the timing for the `vendor.js` file download (564 KB):

<img width="524" alt="Bildschirmfoto 2020-06-22 um 22 45 07" src="https://user-images.githubusercontent.com/141300/85333536-

[2020-06-23 01:38] Otis27 commented on #1907
Hi Philipp, I am a total moron with computers. I do have Norton but have
had it for several years and Skylines has always worked fine, We tried
it on our gliding club computer and same result and no Norton. At the
moment I get a skylines Logo saying Loading with no further progress.

------ Original Message ------
From: "Philipp Wollschlegel" <notifications@github.com>
To: "skylines-project/skylin

[2020-06-23 17:29] lordfolken commented on #1907
The line is 1GB upstream, so that shouldn't be a problem. I have relatively fast responses here even over celluar.
![2020-06-23-212803_681x741_scrot](https://user-images.githubusercontent.com/407371/85435445-bfb8e780-b587-11ea-9b3c-8362bb610c56.png)

I also tried several online testers, all of those say relatively fast responses.

[2020-06-23 18:21] lordfolken commented on #1907
Several online speed tests later yield about the same result:
USA https://tools.pingdom.com/#5cb899d4be400000
Brazil https://tools.pingdom.com/#5cb89a2fa0800000

[2020-06-23 18:21] lordfolken commented on #1907
Could you please provide your ip addresses?

[2020-06-23 18:27] lordfolken commented on #1907
folken@mapgen:~$ wget https://skylines.aero/files/06nvep21.igc
--2020-06-23 20:25:28--  https://skylines.aero/files/06nvep21.igc
Resolving skylines.aero (skylines.aero)... 212.51.149.149
Connecting to skylines.aero (skylines.aero)|212.51.149.149|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 788402 (770K) [application/octet-stream]
Saving to: ‘06nvep21.igc’

06nvep21.igc

[2020-06-24 00:03] Otis27 commented on #1907
110.175.45.98

------ Original Message ------
From: "Philipp Wollschlegel" <notifications@github.com>
To: "skylines-project/skylines" <skylines@noreply.github.com>
Cc: "Otis27" <scarfey@telstra.com>; "State change"
<state_change@noreply.github.com>
Sent: Wednesday, 24 Jun, 2020 At 2:22 AM
Subject: Re: [skylines-project/skylines] Skylines not opening (#1907)

Could you please provide your ip addres

[2020-06-24 06:43] Turbo87 commented on #1899
@bomilkar sorry for the delay. it's added to the database now :)

[2020-06-24 06:43] #1899 closed

[2020-06-24 06:47] Turbo87 commented on #1907
[code]

interestingly, the connection itself seems to be rather fast for me, just the download speed via HTTP is apparently not 🤔

[2020-06-24 07:31] bomilkar commented on #1899
Thanks @Turbo87 !
I confirm it works:
https://www.skylines.aero/flights/120793

[2020-06-24 18:43] lordfolken commented on #1907
https://mapgen-data.sigkill.ch/osm/planet.7z cand you download that? its hosted on the same site. Might be an issue with packet fragementation.

[2020-06-24 18:59] Turbo87 commented on #1907
it's similarly slow for me with about 20-30 KB/sec

[2020-06-24 19:33] lordfolken commented on #1907
can you do a
tcpdump -i <interface> -s 65535 -w <file> host mapgen-data.sigkill.ch
while you download please? The resulting file i can inspect in wireshark.

[2020-06-24 23:32] Otis27 commented on #1907
If I knew how and what I may be able to help with  that. I tried
downloading the other file it was 2.5 kb sec so gave it away as it was
going to take 5 hrs. Sorry but as  said I am a moron with all this.

------ Original Message ------
From: "Philipp Wollschlegel" <notifications@github.com>
To: "skylines-project/skylines" <skylines@noreply.github.com>
Cc: "Otis27" <scarfey@telstra.com>; "State cha

[2020-06-26 13:29] Exadios commented on #1907
Screen shot and tcpdump output.

![Screenshot_2020-06-26_21-21-11](https://user-images.githubusercontent.com/1477489/85861490-05c5b380-b7f3-11ea-9e2e-eea0b3059b71.png)
[skylines.txt](https://github.com/skylines-project/skylines/files/4837160/skylines.txt)

[2020-07-01 07:18] sentry-io[bot] opened #1983 "TypeError: this.get is not a function"
Sentry Issue: [FRONTEND-2VS](https://sentry.io/organizations/skylines/issues/1753768521/?referrer=github_integration)

[code]

[2020-07-01 07:26] #1983 closed

[2020-07-08 08:37] ubx opened #1992 "Upload Flight: Aircraft type is not selectable"
Uploading a flight, is not possible to choose the aircraft type.

[2020-07-08 17:25] Turbo87 commented on #1992
hmm... I'm having a hard time reproducing the issue. It seems to work fine on my side. Can you give more information on what went wrong?

[2020-07-08 18:53] ubx commented on #1992
I can reproduce it with this file:
[2020-07-07-TRI-XCE-01.zip](https://github.com/skylines-project/skylines/files/4892663/2020-07-07-TRI-XCE-01.zip)

[2020-07-09 08:41] #1992 closed

[2020-07-12 11:48] sentry-io[bot] opened #2000 "TypeError: a.element.find(...).size is not a function"
Sentry Issue: [FRONTEND-2WQ](https://sentry.io/organizations/skylines/issues/1779931511/?referrer=github_integration)

[code]

[2020-07-12 11:49] Turbo87 commented on #2000
most likely caused by #1998 🙈

[2020-07-12 12:07] #2000 closed

[2020-07-15 15:37] QuintS commented on #1042
After new "splash screen" login, issue not seen anymore.

[2020-07-26 14:33] sentry-io[bot] opened #2052 "TypeError: n.default.toggle is not a function. (In 'n.default.toggle(document.querySelector(e))', 'n.default..."
Sentry Issue: [FRONTEND-2ZA](https://sentry.io/organizations/skylines/issues/1802040214/?referrer=github_integration)

[code]

[2020-07-26 14:33] Turbo87 commented on #2052
it looks like this can happen when `screenfull.isEnabled` is defined as `false` and the `screenfull` object contains nothing else

[2020-07-26 14:51] #2052 closed

[2020-07-27 10:20] sentry-io[bot] opened #2055 "Error: SecurityError: Failed to set the 'cookie' property on 'Document': Access is denied for this docum..."
Sentry Issue: [FRONTEND-2SZ](https://sentry.io/organizations/skylines/issues/1740427154/?referrer=github_integration)

[code]

[2020-07-27 17:11] #1042 closed

[2020-07-27 17:12] #621 closed

[2020-07-28 17:26] sentry-io[bot] opened #2067 ""Error: Resource was not found" when loading deleted pinned flight"
Sentry Issue: [FRONTEND-2ZV](https://sentry.io/organizations/skylines/issues/1807406068/?referrer=github_integration)

[code]

[2020-07-28 17:28] sentry-io[bot] opened #2068 "TypeError: Cannot read property 'getMap' of undefined"
Sentry Issue: [FRONTEND-2ZZ](https://sentry.io/organizations/skylines/issues/1810112834/?referrer=github_integration)

[code]

[2020-07-28 17:28] Turbo87 commented on #2068
most likely related to https://github.com/openlayers/ol-cesium/issues/679

[2020-07-30 15:24] vicb opened #2075 "Have the tracking API returns full timestamp"
Working with timestamps in the live track API is kind of hard because they are offset since midnight UTC of the day the flight started (If I understand correctly).

It seems like it is possible to get back to full timestamp in seconds by mirroring the logic in https://github.com/skylines-project/skylines/blob/c55ffa4d268d308b3ad8259516abaaa4267674c8/skylines/tracking/server.py#L89-L104.

However I

[2020-08-01 18:40] lordfolken commented on #1907
Does anyone have a place where i could ssh into where this is an issue? I have travel all over france and simply am not able to reproduce the issue.

[2020-08-02 00:12] Otis27 commented on #1907
Thank you Phillipp, I appreciate your ongoing efforts. John

------ Original Message ------
From: "Philipp Wollschlegel" <notifications@github.com>
To: "skylines-project/skylines" <skylines@noreply.github.com>
Cc: "Otis27" <scarfey@telstra.com>; "State change"
<state_change@noreply.github.com>
Sent: Sunday, 2 Aug, 2020 At 2:40 AM
Subject: Re: [skylines-project/skylines] Skylines not opening (#1907

[2020-08-03 20:19] renovate[bot] opened #2104 "Dependency Dashboard"
This issue contains a list of Renovate updates and their statuses.

## Rate Limited

These updates are currently rate limited. Click on a checkbox below to force their creation now.

 - [ ] Lock file maintenance

## Open

These updates have all been created already. Click a checkbox below to force a retry/rebase of any.

 - [ ] Pin dependencies (`@ember-intl/cp-validations`, `@ember/jquery`, `@emb

[2020-08-10 07:57] Turbo87 commented on #1499
should be fixed now, sorry for the long delay

[2020-08-10 07:57] #1499 closed

[2020-08-14 09:13] sentry-io[bot] opened #2135 "TypeError: this.onRemove is not a function"
Sentry Issue: [FRONTEND-31S](https://sentry.io/organizations/skylines/issues/1836778484/?referrer=github_integration)

[code]

[2020-08-14 09:43] #2135 closed

[2020-08-24 11:48] bomilkar opened #2152 "airspace list is inconsitent with the map"
I look at `airspace/airspace_list.txt` and compare the airspace file for Germany listed here with what I see on the SkyLines map. The two are not consistent.

Example:
look at airspace C around Munich airport EDDM (north east corner) and compare that with what is listed in `airspace/airspace_list.txt`:
https://www.daec.de/fileadmin/user_upload/files/2020/Fachbereiche/Luftraum_und_Flugbetrieb/20200

[2020-08-24 13:47] bomilkar opened #2154 "German airspace needs refresh"
`airspace/airspace_list.txt` should reference:

`de https://www.daec.de/fileadmin/user_upload/files/2020/Fachbereiche/Luftraum_und_Flugbetrieb/20200707_Airspace_Germany.txt`

Thanks to Peter Kemme peter.kemme@gmx.de for updating the airspace data and mentioning the URL.

I can make a PR for this if this is what you guys want. Please advise.

[2020-08-26 05:49] Turbo87 commented on #2152
the data still needs to be manually imported into the database, which unfortunately takes a bit of time and has in the past been failing from time to time.

[2020-08-26 07:18] bomilkar commented on #2152
Understand. So I guess https://github.com/skylines-project/skylines/issues/2154 is a mute point.

[2020-08-26 08:10] bomilkar commented on #2152
Here is an other issue:
Airspace structures change over time. For instance airspace C around Munich has changed significantly as of March 2020. Or ED-R138A replaced ED-R138 a couple of years ago.
When I review a flight from 2015 today it is displayed with today's airspace structure. Is that an esoteric point? And if not, should it keep a history of airspace structures (changes are usually effectiv

[2020-08-26 08:43] Turbo87 commented on #2152
it would be nice to have that, yes. but also quite difficult to implement.

[2020-08-27 06:56] bomilkar commented on #2152
I'll put it on my ToDo list for after the season.
@Turbo87 , can you elaborate what you do when you "manually import into the database".

[2020-08-27 07:43] Turbo87 commented on #2152
it's running https://github.com/skylines-project/skylines/blob/master/skylines/commands/import_/airspace.py through the `manage.py` tool in the root directory

[2020-09-13 10:36] kapitan-iglu commented on #1907
Hi,
this weekend I've problem loading www.skylines.aero web (but it may takes for longer time, last time I used skylines was 5.9.2020). Every request finishes with ERR_CONNECTION_TIMED_OUT.  Same error for https://mapgen-data.sigkill.ch/osm/planet.7z. Tried from different internet providers, from different countries (SK and CZ), different browsers and devices. So I think I've excluded firewall as

[2020-09-14 12:38] Zaphod2112 commented on #1878
Hi,

It looks like the Skylines website has been down for several days.  Will it be up again soon?

Thanks,

Doug Hingst

Sent from my iPhone

[2020-09-14 12:54] Turbo87 commented on #1878
@lordfolken 👆

[2020-09-15 15:45] lordfolken commented on #1907
new address is 212.51.149.110, dns records for xcsoar stuff is updated.

[2020-09-15 19:50] marzecm opened #2196 "official server down - http://www.skylines.aero/"
Hi guys,

Since a couple of days the http://www.skylines.aero/ is not responding. Not sure anyone has raised the issue and if you are aware of this problem. We rely on your API and server for few pilots tracking and at the moment we do not see each others position :(.
Can you please advise?

Many thanks
Michal

[2020-09-15 19:57] #2196 closed

[2020-09-15 19:57] marzecm commented on #2196
Duplicate of https://github.com/skylines-project/skylines/issues/1907

[2020-09-18 20:24] kapitan-iglu commented on #1907
Skylines is up today. Was problem fixed or we can expect downtimes again?

[2020-09-20 18:00] lordfolken commented on #1907
no further outages are planned.

[2020-09-21 02:45] Otis27 commented on #1907
Skylines is coming up but I am not being tracked and only two people at
the moment are being shown. I find this highly unusual as usually a
minimum of 12 show up. I renewed my key in xc soar but it did no good.
Cheers John

------ Original Message ------
From: "kapitan-iglu" <notifications@github.com
To: "skylines-project/skylines" <skylines@noreply.github.com>
Cc: "Otis27" <scarfey@telstra.com>;

[2020-09-21 06:23] Turbo87 commented on #1907
the reason for that is that the server IP address has changed and XCSoar unfortunately has the IP hard-coded. once a new XCSoar release is published with the new IP things will be back to normal.

[2020-09-21 07:12] Otis27 commented on #1907
Thanks Tobias

------ Original Message ------
From: "Tobias Bieniek" <notifications@github.com>
To: "skylines-project/skylines" <skylines@noreply.github.com>
Cc: "Otis27" <scarfey@telstra.com>; "State change"
<state_change@noreply.github.com>
Sent: Monday, 21 Sep, 2020 At 2:23 PM
Subject: Re: [skylines-project/skylines] Skylines not opening (#1907)

the reason for that is that the server IP addres

[2020-09-21 16:20] lordfolken commented on #1907
Of course... 1603 i got an alert that skylines was again down. 16:21 i got an email from my provider, that they have moved my static ip. Not happy.

@TobiasLohner can you please update the records for skylines to now final destination 212.51.149.222

[2020-09-21 16:22] lordfolken commented on #1907
Skylines Tracking IP change: https://github.com/XCSoar/XCSoar/pull/478

[2020-09-28 07:02] ubx opened #2215 "Live Tracking not working with XCSoar"
Since some days, I can't see my live tracks on the server. I'm using XCSoar 6.8.17-Android as a tracker. BTW same result with SkyLines Tracker, which uses DNS for address resolution (skylines.aero).

But I'm confused to see some other users live tracks.

[2020-09-28 07:32] Turbo87 commented on #2215
hmm, the third option to use live tracking is using an app that uses the LiveTrack24 protocol, but I'm surprised that the "SkyLines Tracker" is not working. looks like something is wrong and the UDP packets are not arriving at the server.

@lordfolken do you know if anything changed regarding firewall rules or something like that?

[2020-09-28 11:06] FlyDubbo commented on #2215
I have had similar issues, with none of the keys I use working on any device, using XCSoar of Skylines Tracking App.
I have also been able to see a few others, a couple I know and interestingly they have both been using Iphones and FlySkyHigh.

[2020-09-28 14:20] lordfolken commented on #2215
I thought it was working because I saw traffic.
The firewall rule only had tcp enabled for the forward. Now udp is also added, and i see a couple of more traffic fixes.

[2020-09-28 14:21] lordfolken commented on #2215
@ubx Please check that it works now and close the ticket if so.

[2020-09-28 14:27] ubx commented on #2215
It works! Thanks.

[2020-09-28 14:27] #2215 closed

[2020-09-28 14:30] lordfolken commented on #2215
@ubx jetzt weis i au wo de lüthi deheime isch. ;)

[2020-09-28 15:23] ubx commented on #2215
@lordfolken ja genau, wenn er nicht fliegen kann sitzt er da am compi.

[2020-09-28 23:23] FlyDubbo commented on #2215
Many thanks for you fix.
Regards
Phillip

On Tue, 29 Sep. 2020, 12:21 am Philipp Wollschlegel, <
notifications@github.com> wrote:

[2020-10-16 09:57] mongrelion commented on #897
@Turbo87 do you think that the dust has settled now? do we have enough information to move forward? is this still something we want? otherwise I propose to close this PR.

[2020-10-16 10:05] Turbo87 commented on #897
https://github.com/skylines-project/skylines/blob/master/Pipfile#L19 says that we are using v2.8 now, so I guess we can indeed close this.

[2020-10-16 10:05] #897 closed

[2020-10-28 23:38] vicb opened #2265 "[Feature] Add the pilot id to the profile page"
Pilots need to enter their Skylines (numerical) id in flyxc.app if they want to appear on the map.

Currently there is no "easy" way to get the numerical id.

The only way is to navigate to your user page and get the id from the last segment of the url, i.e. `https://skylines.aero/users/4758`.

This is not super convenient for pilots that are not tech savvy - and some browsers hides the address ba

[2020-10-28 23:40] vicb opened #2266 "[Feature] Display a QR code for the tracking key."
It would be super convenient to display of QR code for the tracking key at `https://skylines.aero/settings/tracking`.

Pilots could then scan their key from their mobile phone instead of having to type it.

[2020-10-29 02:59] Turbo87 commented on #2266
but... XCSoar doesn't have a QR code scanner 🤔

[2020-10-29 03:00] Turbo87 commented on #2265
that seems like a limitation in flyxc.app to me. why does that app need the user id?

[2020-10-29 03:01] vicb commented on #2265
How else would I retrieve the pilot's positions from flyxc.app ? i.e. the API takes pilot ids (`live/id/json`)

[2020-10-29 03:04] vicb commented on #2266
1) XCSoar is only one possible client,
2) Chicken and egg problem.

[2020-10-29 16:25] vicb opened #2269 "[Feature] Display live flights in the flights section"
Quite a few people I discuss with are confused with how Skylines live tracking work (or they are not sure if it works at all) because they can not see their flights on `https://skylines.aero/flights/pilot/<pilot_id>`.

My understanding is that Skylines keeps live track forever in the DB (there are a couple of issues related to changing that but they are still not marked as fixed).

What about addi

[2020-10-29 17:15] Turbo87 commented on #2269
live tracking data is not reliable enough for this and can't be analysed properly by the same tools that we use for IGC file analysis unfortunately.

[2020-10-29 17:21] vicb commented on #2269
What about the second option, i.e. "maybe in a different table".

Maybe the same viewer that is used to view live tracks could be re-used ?

If not possible or not desirable, feel free to close this issue.

Thanks !

[2020-11-05 20:13] vicb opened #2277 "[Feature] Support last_update for the /tracking/<user_ids> endpoint"
This feature request is similar to how `/tracking/<user_id>/json` supports a `last_update` parameter to only fetch the latest points... but a bit different.

The idea is to be able to request the updates for a group of pilots from a given time so `last_update` should be a timestamp (number of seconds since January 1, 1970 12:00:00 AM).

The way `last_update` is implemented in `/tracking/<user_id>/

[2020-11-23 04:03] vicb commented on #2265
Hey @Turbo87,

I think the id would be best added to the Live Tracking section, i.e. https://skylines.aero/settings/tracking

I'd like to get a stab a this if you don't mind and would be open to merge it.

I think need to do something similar to the [tracking key](https://github.com/skylines-project/skylines/blob/master/ember/app/components/settings-panels/tracking-key.hbs). The id would be to add

[2020-11-23 10:34] Turbo87 commented on #2265
the ID is quite unrelated to the tracking though, it only seems related because apparently your app is using it for live tracking. I'm not sure if we should really make this ID such a publicly visible thing. yes, it is currently part of the URLs, but only because there is nothing else unique that we could use.

why don't you use the search API to find the right users and then add them through that

[2020-11-23 16:03] vicb commented on #2265
From the user point of view it is related.

They would use their ID to display their live tracks / positions on other live tracking apps.
The wouldn't have take care about their ID if they do not want to do that.

That's why I thought it could go in the Live Tracking section.

That could actually be an idea.

Users are used to have something unique that identify them, like a username, a password,

[2020-11-23 19:14] Turbo87 commented on #2265
no, because emails are private information that is not shared with others.

same thing, the live tracking key is private information that should not be shared with anyone as it allows write access for the account

[2020-11-23 19:18] vicb commented on #2265
It would be up to the user to share their tracking key.
The search API should only be able to retrieve by tracking, it would not publish the tracking key.
That would be not much different at what exists today: users already share their API key if they want to be tracked (i.e. in Skylines, FlySkyHigh, ...).

What do you think ?

[2020-11-24 17:51] vicb commented on #2277
Hey @Turbo87 do you think this is a good idea ?

Would you merge this if I create a PR ?

The query parameter could be called `from_time` and take a UNIX timestamp.
It could be added to the endpoints:
- `/tracking/latest.json`
- `/live/<user_ids>`
- `/live/<user_id>/json` in complement of the already existing `last_update`.

The advantage would be that I don't have to pull 12h of track every time

[2020-11-30 14:18] Turbo87 commented on #2277
seems like a reasonable request. I'm a little worried about breaking the existing code though, so it would be great if you could ensure that we have decent test coverage for these endpoints before modifying them. 🙏

[2020-11-30 16:46] vicb commented on #2277
Thanks @Turbo87 I'll give it a try.

I am having troubles installing the Vagrant env.

On the first `vagrant up` I get the error ` default: Failed to fetch http://ppa.launchpad.net/jonathonf/python-2.7/ubuntu/dists/trusty/main/binary-amd64/Packages  403  Forbidden [IP: 91.189.95.83 80]`. A second `vagrant up` goes through but I suspect I have missing dependencies.

Do you have updated instructions

[2020-11-30 16:52] Turbo87 commented on #2277
I haven't run if for a while. It's possible that some dependency update broke it... 😞

welcome to the rabbit hole 🎉

[2020-11-30 16:55] vicb commented on #2277
I can try to investigate this.

How do you debug the server ?

What are the steps to install the python deps an run the tests ?

I guess
`pipenv install --dev` and then ?

[2020-11-30 17:03] Turbo87 commented on #2277
depends on what exactly you mean by that

https://github.com/skylines-project/skylines/blob/2a6c948ed60dc7e4a9489b659622289b54e152f6/.github/workflows/ci.yml#L114-L119 should give a few hints.

[2020-11-30 19:36] vicb commented on #2277
I have hacked a working config using https://github.com/nektos/act

I should be able to make some progress with that.

Thanks for your help.

[2020-12-22 00:45] vicb opened #2311 "[Question] Add container config for VSCode"
Hey @Turbo87,

VSCode make it super easy [to develop code in a Docker env](https://docs.microsoft.com/en-us/learn/modules/use-docker-container-dev-env-vs-code/2-use-as-development-environment).

Basically you can connect to a container and work as it you were working on your local env.

If you think it is valuable, I could submit a PR to:
- remove the vagrant files,
- add the VSCode config files,

[2020-12-22 05:21] Turbo87 commented on #2311
As you may have seen, I started adding a Docker based setup in #2306 to replace some parts of the CI pipeline. I already have it half working as a dev environment too, but I'm not entirely done and still figuring some things out.

I personally don't use VSCode that much and it looks like the solution in that link would *only* work for VSCode, while something based on e.g. docker-compose could esse

[2020-12-22 05:27] vicb commented on #2311
The VSCode config I have basically builds on your `docker-compose.yml` (I had almost the same with less flexibility).

Basically the PR would be:
- adding a .devcontainer folder with 2 simple files,
- adding a doc file with details on how to setup VSCode and launch the tests,
- deleting old Vagrant config/docs.

I think it's the best of both world: devs that are the most familiar with docker could

[2020-12-22 05:33] vicb commented on #2311
https://github.com/skylines-project/skylines/compare/master...vicb:vscode/config is what the VSCode config looks like.

That's not much to have a great dev environment.

[2020-12-22 05:45] Turbo87 commented on #2311
I see. I didn't know it was compatible with docker-compose.

I'm fine with adding those files if you think that they would be useful, but:

- I think a README in that folder that explains them or points to the other docs you mentioned would be helpful and
- since I personally won't be using this setup I can't properly maintain those files so it would be up to you or other contributors to keep them

[2020-12-22 05:52] vicb commented on #2311
I was thinking about a DEVELOPER.md at the root but it could also go into that folder.
Let me know you preference.

Sure I can maintain it.

1) I think if you tell some developers that they need to use Docker, they would run away screaming ;)
2) you can have your own dev environment in VSCode. That is no need to manually launch docker, your own set of VSCode extensions for that project, ...

I agr

[2020-12-28 18:35] #2311 closed

[2020-12-29 18:45] pretzilla opened #2322 "Skylines tracker not sending"
Can't get skylines tracker, or any other tracker to send any points.

Same with LT24 tracker, or "Tracker" android app.

Though the app: FlyMe has a built-in tracker that successfully sends to http://flyxc.app, (but somehow doesn't show up on my flights on skylines).

Have done battery (de)optimizaton in android

Tracker app gets GPS signal ok, displays location in app, but Queue: always reads "0

[2020-12-29 18:52] pretzilla commented on #2322
Just posting here fixed it.  geeze :)

[2020-12-29 18:52] #2322 closed

[2021-01-14 18:38] Turbo87 opened #2339 "WeGlide Upload"
Starting in 2021 the DMSt competition will be hosted on https://weglide.org/. WeGlide provides an API for flight uploads (see https://api.weglide.org/docs#/igcfile/upload_flight_simple_v1_igcfile_post) that we could take advantage of to make it easier for users to upload flights on SkyLines and have them automatically appear on WeGlide too.

- [x] worker: implement WeGlide upload task
- [x] api: i

[2021-01-21 14:25] #1919 closed

[2021-01-31 15:50] QuintS opened #2372 "Club name deleted"
Back when I registered to Skylines, I also registered my club's name "ZVC Eindhovense Studenten". For some reason my account has now been migrated to "AeroclubNistelrode". Can someone reinstate "ZVC Eindhovense Studenten" from a back-up? As I cannot find the club's name in the drop-down menu anymore.

[2021-01-31 16:55] QuintS commented on #2372
Seems a leaving member had changed the name of the club in stead of changing their club in their profile. Closed ticket

[2021-01-31 16:55] #2372 closed

[2021-02-13 01:16] vicb opened #2400 "404 behavior of"
The endpoint [`/live/<user_ids>`](https://github.com/skylines-project/skylines/blob/master/skylines/api/views/tracking.py#L97) returns a 404 if any of the id in the list is not found.

That is `/live/1,2,3,4,10` will return a 404 if 1, 2, 3, 4 exist but only 10 doesn't. The error would be `{"message": "Sorry, 1 of the requested records ([1, 2, 3, 4, 10]) do not exist in our database."}`

What do y

[2021-02-21 22:03] vicb opened #2411 "SSL certificates has expired"
Hey @Turbo87 it seems like the SSL certificate of the server has expired.
The site could not be reached any more.

[2021-02-21 23:16] Turbo87 commented on #2411
@lordfolken since the cert is not handled on the skylines server itself anymore, could you renew it please? 🙏

[2021-02-22 19:59] vicb commented on #2411
Thanks @Turbo87 and @lordfolken
Closing this as the issue is fixed.

[2021-02-22 19:59] #2411 closed

[2021-03-11 19:24] vicb commented on #2400
Hey @Turbo87, do you have an opinion about this request.

The problem on the client side is that if one of the id is incorrect (typo / wrong id) then no position are returned for the correct ids and there is error allowing to figure out the wrong id.

I could work on improving the API if we can agree on the best solution.

Thanks.

[2021-03-12 08:26] Turbo87 commented on #2400
I could see this being useful, but this should be considered a breaking change for the API. We would need to adjust the SkyLines frontend to handled that case first too. Since the frontend deploys automatically after merging it would probably be best to implement that in two PRs (one for frontend, one for backend), and then merge the frontend PR first, which should support both API variants.

[2021-03-12 15:46] vicb commented on #2400
Thanks for your answer.

Could you point me to where this endpoint is used in the frontend ? (I am not familiar with that part of the code).

An other option is to add a query parameter or http header to enable the new behavior. That way there would be no breaking change. It might be preferable so that we do not break any external app querying the endpoint.

I you think that last proposal makes se

[2021-04-09 07:52] #881 closed

[2021-06-24 08:44] mkauzlar opened #2478 "Password reset on skylines.aero doesn't send the email"
Using https://skylines.aero/users/recover to recover the password it says that the reset email was sent but it never arrives.

[2021-06-24 08:57] Turbo87 commented on #2478
@lordfolken do you have time to look into this?

[2021-06-27 16:39] lordfolken commented on #2478
I reconfigured the relay host to a new smtp server.

[2021-06-27 16:39] #2478 closed

[2021-06-29 13:51] Turbo87 commented on #2478
awesome, thank you @lordfolken! :)

[2021-09-13 20:30] DavisChappins opened #2481 "Use Garmin Inreach data - satellite tracker"
Hello,
Is it possible to use an external source like a satellite tracker to populate a skylines.aero flight? I am aware that this site is built upon mobile phone data.
I'm interested specifically in Inreach. Its published to a public URL like https://share.garmin.com/JoeSilvasi
Would it be possible to use this data?

[2021-09-30 17:19] vicb commented on #2481
@DavisChappins my understanding is that skylines is not really interested in getting data from any other sources - to be clear I am not part of the project.

However there are other solutions that can fetch positions from multiple sources.

I am the developper of flyxc.app which can fetch positions from both Skylines and InReach (also Spot, FlyMe, and FlyMaster).

[2021-10-28 07:45] farzinghanbari opened #2482 "DB shuts down for no reason when using docker-compose"
I have tried to use docker-compose to install skylines and the problem is I see the following error when I'm trying to get flights page:

Apparently this is somehow related to db and this is the output I see on terminal:

[code]

So I removed all the containers and volume and network and run `docker-compose up` command again, and this is the result I got:
[code]

What is interesting for me is the

[2022-01-15 01:57] marumaru3m opened #2483 "update Japan airspace and airfield data"
Hi,

The Japan airspace file and airfiled data on OpenAIP has updated.
Would you update the SkyLines, too ?

best regards,
Takeshi Maruyama
Japan

[2022-01-20 07:18] infinity-milesman opened #2484 "Architecture of skylines"
Can someone please draw and share the architecture and working flow of this project.

[2022-05-21 15:44] pierre-fr34 opened #2486 "[Feature] Add a link to open location in google maps"
Hi,
Thanks a lot for your very nice work.
For paragliders, tracking is often used to reach the pilot once landed. So on the map, it would be nice to add a link to open pilot location in google maps, next to "Load nearby flights" and "Get location info".
Cheers,
Pierre

[2022-10-05 23:24] ventus99 opened #2488 "Add Airport to Airport Database?"
One of the more popular sites in Canada is Invermere, BC.  When I log flights there, no airport is displayed.  Is there a way I could add it to the database?

https://www.skylines.aero/flights/141932

[2022-10-05 23:25] ventus99 commented on #2488
Or maybe the coordinates are a bit off?